* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    color: #333;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}
.main {
    background: #f1f1f1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.form {
    width: 400px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    margin: 24px;
    align-self: center;
    box-shadow: 5px 2px 5px 3px rgba(51,62,73,.1);
}
.form .heading {
    font-size: 2rem;
}
.form .desc {
    text-align: center;
    color: #636d77;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 14px auto;
    width: 90%;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.4rem;
}

.form-control {
    /* background-color: green; */
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    outline: none;
    font-size: 1.4rem;
    
}

.form-control:hover {
    border-color: orange;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
}

.form-submit {
    text-decoration: none;
    outline: none;
    background-color: orange;
    margin-left: -8%;
    margin-top: 10px;
    padding: 12px 10px;
    color: #fff;
    border: none;
    width: 8%;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    position: absolute;
}

.new-account {
    float: right;
    position: relative;
    margin-top: 20px;
    margin-right: 30px;
    font-size: 13px;
    color: rgb(27, 95, 222);
    cursor: pointer;
}
.form-submit:hover {
    background-color: rgb(236, 153, 0);
}

.spacer {
    margin-top: 36px;
}