* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
html {
    color: #333;
    font-style: 16px;
    font-family: 'Open Sans', sans-serif;
}
.header {
    height: 800px;
    width: 30%;
    background-color: rgb(178, 178, 178);
}
.list-header {
    line-height: 2.5;
    margin-left: 40px;
    margin-top: 20px;
}
.nav {
    float: right;
    margin-right: 20px;
    font-size: 16px;
}
